/* src/index.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Add hover glow */
.hover-shadow:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.3);
}
a {
  color: inherit;
  transition: color 0.2s;
}

a:hover {
  color: #0d6efd;
}
.navbar .nav-link {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #0d6efd !important;
  font-weight: 500;
}
